#title {
    background-color: #ff4c68;
}

.navbar {
    padding-left: 0;
}

.navbar-brand {
    font-family: "Ubuntu";
    font-size: xx-large;
    font-weight: 500;
}
.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 2rem;
    padding-left: 2rem;
}
.container-fluid {
    padding: 3% 15%;
}

.header {
    font-family: "Montserrat";
    font-weight: 900;
    color: #ffffff;
    font-size: 3rem;
    line-height: 1.5;
    padding: 10% 0 5% 0;
}

.iphone {
    height: 600px;
    width: 350px;
    transform: rotate(37deg);
}