body {
  font-family: "Montserrat";
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat";
  font-weight: bolder;
}

p {
  color: #8f8f8f;
}

/* Headings */

.header {
  font-weight: 900;
  color: #ffffff;
  font-size: 3.5rem;
  line-height: 1.5;
}

.section-heading {
  font-size: 3rem;
  line-height: 1.5;
}

/* containers  */
.container-fluid {
  padding: 7% 15%;
}

/* Section clrd/white  */

.colored-section {
  background-color: #ff4c68;
  color: #ffffff;
}

.white-section {
  background-color: #fff;
}
/* Navigation bar  */

.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-family: "Montserrat-Light";
  font-size: 1.2rem;
}

.download-button {
  margin: 5% 3% 5% 0;
}

.iphone {
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
  right: 25%;
}

/* Title section */

#title .container-fluid {
  padding: 3% 15% 7%;
  text-align: left;
}

/* Features styling */

#features {
  position: relative;
  z-index: 1;
}

.col-box {
  padding: 5%;
}
.feature-icons {
  margin-bottom: 1rem;
}

.feature-icons:hover {
  color: #ff4c68;
}

.fthead {
  font-size: 1.5rem;
}

/* testinomials section */

#testimonials {
  background-color: #ef8172;
}

.testimonial-text {
  font-size: 3rem;
  line-height: 1.5;
}

.testimonial-img {
  width: 15%;
  border-radius: 100%;
  margin: 20px;
}

#press {
  background-color: #ef8172;
  padding-bottom: 3%;
}

.press-logo {
  width: 13%;
  margin: 10px 20px 10px;
}

/* Pricing section */

#pricing {
  padding: 100px;
}

.pricing-column {
  padding: 3% 2%;
}

/* cta */

.footer-icon {
  margin: 20px 10px;
}

@media (max-width: 1060px) {
  #title {
    text-align: center;
  }

  .iphone {
    position: static;
    transform: rotate(0);
    width: 60%;
  }
}
